<div>
  <div class="w-[120rem] h-[32rem] bg-white sm:w-screen">
    <img
      src="https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Swiggy_logo.svg/2560px-Swiggy_logo.svg.png"
      class="w-[10rem] absolute top-[5rem] left-[25rem]"
    />
    <a
      href="https://www.swiggy.com/"
      class="font-mono text-1xl absolute top-[6rem] left-[45rem] font-bold"
      >Login</a
    >
    <a
      href="https://www.swiggy.com/"
      class="font-mono text-1xl absolute top-[5rem] font-bold left-[50rem] w-[7rem] h-[3rem] text-center pt-4 bg-black text-slate-50"
      >Sign up</a
    >
    <h1
      class="text-[2.5rem] font-bold top-[10rem] absolute left-[25rem] text-gray-900 font-sans"
    >
      Unexpected guests?
    </h1>
    <h3 class="text-slate-700 font-sans absolute top-[15rem] left-[25rem]">
      Order food from favourite restaurants near you.
    </h3>
    <input
      type="text"
      class="pl-5 w-[24rem] h-[3.5rem] absolute top-[17rem] left-[25rem] bg-transparent border-2 opacity-50 border-slate-700"
      placeholder="Enter your delivery location"
    />
    <button
      class="w-[10rem] h-[3.5rem] bg-orange-500 text-white font-bold absolute top-[17rem] left-[48.1rem]"
    >
      FIND FOOD
    </button>
    <h3 class="text-slate-700 opacity-50 absolute top-[22rem] left-[25rem]">
      POPULAR CITIES IN INDIA
    </h3>
    <H4
      class="text-slate-700 font-sans absolute top-[24rem] w-[30rem] left-[25rem]"
    >
      Ahmedabad Bangalore Chennai Delhi Gurgaon Hyderabad Kolkata Mumbai Pune &
      more.</H4
    >
    <img
      src="https://www.eatingwell.com/thmb/m5xUzIOmhWSoXZnY-oZcO9SdArQ=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/article_291139_the-top-10-healthiest-foods-for-kids_-02-4b745e57928c4786a61b47d8ba920058.jpg"
      class="w-[58rem] h-[32rem] absolute left-[62rem]"
    />
  </div>
  <div class="w-[120rem] h-[25rem] bg-yellow-950 absolute">
    <img src="../assets/logo2.png" class="w-[7rem] absolute left-[25rem]" />
    <img src="../assets/logo1.png" class="w-[7rem] absolute left-[55rem]" />
    <img
      src="../assets/logo3.png"
      class="w-[8rem] absolute top-3 left-[85rem]"
    />
    <h2
      class="font-sans text-white font-semiboldbold absolute top-[16rem] left-[24rem]"
    >
      No Minimum Order
    </h2>
    <h4
      class="absolute w-[14rem] text-center font-sans text-xs top-[18rem] left-[21rem] text-white"
    >
      Order in for yourself or for the group, with no restrictions on order
      value
    </h4>
    <h2
      class="font-sans text-white font-semiboldbold absolute top-[16rem] left-[54rem]"
    >
      Live Order Tracking
    </h2>
    <h4
      class="absolute w-[14rem] text-center font-sans text-xs top-[18rem] left-[51.5rem] text-white"
    >
      Know where your order is at all times, from the restaurant to your
      doorstep
    </h4>
    <h2
      class="font-sans text-white font-semiboldbold absolute top-[16rem] left-[84rem]"
    >
      Lightning-Fast Delivery
    </h2>
    <h4
      class="absolute w-[14rem] text-center font-sans text-xs top-[18rem] left-[82.5rem] text-white"
    >
      Experience Swiggy's superfast delivery for food delivered fresh & on time
    </h4>
  </div>
  <div class="w-[120rem] h-[30rem] top-[57rem] absolute bg-white">
    <h1 class="w-[14rem] absolute left-[21rem] top-[8rem] font-extrabold">
      Restaurants in your pocket
    </h1>
    <p
      class="text-gray-700 w-[24rem] absolute top-[16rem] left-[20.6rem] font-medium"
    >
      Order from your favorite restaurants & track on the go, with the all-new
      Swiggy app.
    </p>
    <img
      src="../assets/play_ip0jfp.png"
      class="w-[11rem] absolute top-[20rem] left-[20rem]"
    />
    <img
      src="../assets/iOS_ajgrty.png"
      class="w-[11rem] absolute top-[20rem] left-[33rem]"
    />
    <img src="../assets/phone1.png" class="w-[21rem] absolute right-[44rem]" />
    <img src="../assets/phone1.png" class="w-[21rem] absolute right-[44rem]" />
    <img
      src="../assets/phon.png"
      class="w-[21rem] absolute bottom-0 right-[22rem]"
    />
  </div>
  <div class="w-[120rem] h-[260rem] bg-black absolute top-[87.1rem]">
    <nav
      class="text-slate-300 absolute left-[20rem] top-[5rem] font-medium flex col-span-6 gap-[11rem]"
    >
      <a href="*">COMPANY</a>
      <a href="*">CONTACT</a>
      <a href="*">LEGAL</a>
    </nav>
    <nav
      class="text-white grid grid-rows-6 grid-flow-row gap-4 text-sm absolute top-[8rem] left-[20rem]"
    >
      <a href="*">About us</a>
      <a href="*">Team</a>
      <a href="*">Careers</a>
      <a href="*">Swiggy Blog</a>
      <a href="*">Bug Bounty</a>
      <a href="*">Swiggy One</a>
      <a href="*">Swiggy Corporate</a>
      <a href="*">Swiggy Instamart</a>
      <a href="*">Swiggy Genie</a>
    </nav>
    <nav
      class="text-white grid grid-rows-6 grid-flow-row gap-4 text-sm absolute top-[8rem] left-[36rem]"
    >
      <a href="*">Help & Support</a>
      <a href="*">Partner with us</a>
      <a href="*">Ride with us</a>
    </nav>
    <nav
      class="text-white grid grid-rows-6 grid-flow-row gap-5 text-sm absolute top-[8rem] left-[51.4rem]"
    >
      <a href="*">Terms & Conditions</a>
      <a href="*">Refund & Cancellation</a>
      <a href="*">Privacy Policy</a>
      <a href="*">Cookie Policy</a>
      <a href="*">Offer Terms</a>
      <a href="*">Phishing & Fraud</a>
      <a href="*">Corporate - Swiggy Money Codes Terms and Conditions</a>
      <a href="*">Corporate - Swiggy Discount Voucher Terms and Conditions</a>
    </nav>
    <img
      src="../assets/play_ip0jfp.png"
      class="w-[11rem] absolute top-[10rem] right-[25rem]"
    />
    <img
      src="../assets/iOS_ajgrty.png"
      class="w-[11rem] absolute top-[5rem] right-[25rem]"
    />
    <hr
      class="w-[75rem] opacity-50 text-white absolute h-1 top-[30rem] left-[20rem]"
    />
    <!-- country div -->
    <nav
      class="text-white grid grid-cols-4 gap-5 w-[80rem] absolute top-[34rem] left-[20rem]"
    >
      <span> Bantwal</span>
      <span> Baramati</span>
      <span> Baran</span>
      <span> Bardhaman</span>
      <span> Bardoli</span>
      <span> Bareilly</span>
      <span> Barh</span>
      <span> Baripada</span>
      <span> Barmer</span>
      <span> Barnala</span>
      <span> Barshi</span>
      <span> Basirhat</span>
      <span> Basti</span>
      <span> Batala</span>
      <span> Bathinda</span>
      <span> Beawar</span>
      <span> Beed</span>
      <span> Begusarai</span>
      <span> Bela-Pratapgarh</span>
      <span> Belgaum</span>
      <span> Berhampore</span>
      <span> Berhampur</span>
      <span> Bettiah</span>
      <span> Betul</span>
      <span> Bhadohi</span>
      <span> Bhadrachalam</span>
      <span> Bhadrak</span>
      <span> Bhadravati</span>
      <span> Bhagalpur</span>
      <span> Bhandara</span>
      <span> Bharabanki</span>
      <span> Bharatpur</span>
      <span> Bharuch</span>
      <span> Bhatkal</span>
      <span> Bhavnagar</span>
      <span> Bhawanipatna</span>
      <span> Bhilai</span>
      <span> Bhilwara</span>
      <span> Bhimavaram</span>
      <span> Bhind</span>
      <span> Bhiwadi</span>
      <span> Bhiwani</span>
      <span> Bhopal</span>
      <span> Bhubaneswar</span>
      <span> Bhuj</span>
      <span> Bhusawal</span>
      <span> Bidar</span>
      <span> Biharsharif</span>
      <span> Bijapur</span>
      <span> Bijnor</span>
      <span> Bikaner</span>
      <span> Bilaspur</span>
      <span> Bilimora</span>
      <span> Biswanath-Chariali</span>
      <span> Bodhan-Rural</span>
      <span> Bodinayakanur</span>
      <span> Boisar</span>
      <span> Bokaro</span>
      <span> Bolpur</span>
      <span> Bongaigaon</span>
      <span> Bongaon</span>
      <span> Budaun</span>
      <span> Budhwal</span>
      <span> Bulandshahr</span>
      <span> Buldana</span>
      <span> Bundi</span>
      <span> Burhanpur</span>
      <span> Buxar</span>
      <span> Central-Goa</span>
      <span> Chaibasa</span>
      <span> Chakdaha</span>
      <span> Chalisgaon</span>
      <span> Chandausi</span>
      <span> Chandigarh</span>
      <span> Chandrapur</span>
      <span> Chennai</span>
      <span> Chhapra</span>
      <span> Chhatarp</span>
      <span> Chhindwara</span>
      <span> Chidambaram</span>
      <span> Chikhli</span>
      <span> Chikkaballapur</span>
      <span> Chikmagalur</span>
      <span> Chiplu</span>
      <span> Chitradurga</span>
      <span> Chittoor</span>
      <span> Chittorgarh</span>
      <span> Churu</span>
      <span> Coimbatore</span>
      <span> Cooch-Behar</span>
      <span> Cuddalore</span>
      <span> Cuttack</span>
      <span> Dahanu</span>
      <span> Dahod</span>
      <span> Daltonganj</span>
      <span> Daman</span>
      <span> Darbhanga</span>
      <span>Darjeeling</span>
      <span> Dasuya</span>
      <span> Dausa</span>
      <span>Davanagere</span>
      <span> Dehradun</span>
      <span> Dehri</span>
      <span> Delhi</span>
      <!-- **************** -->
      <span> Bantwal</span>
      <span> Baramati</span>
      <span> Baran</span>
      <span> Bardhaman</span>
      <span> Bardoli</span>
      <span> Bareilly</span>
      <span> Barh</span>
      <span> Baripada</span>
      <span> Barmer</span>
      <span> Barnala</span>
      <span> Barshi</span>
      <span> Basirhat</span>
      <span> Basti</span>
      <span> Batala</span>
      <span> Bathinda</span>
      <span> Beawar</span>
      <span> Beed</span>
      <span> Begusarai</span>
      <span> Bela-Pratapgarh</span>
      <span> Belgaum</span>
      <span> Berhampore</span>
      <span> Berhampur</span>
      <span> Bettiah</span>
      <span> Betul</span>
      <span> Bhadohi</span>
      <span> Bhadrachalam</span>
      <span> Bhadrak</span>
      <span> Bhadravati</span>
      <span> Bhagalpur</span>
      <span> Bhandara</span>
      <span> Bharabanki</span>
      <span> Bharatpur</span>
      <span> Bharuch</span>
      <span> Bhatkal</span>
      <span> Bhavnagar</span>
      <span> Bhawanipatna</span>
      <span> Bhilai</span>
      <span> Bhilwara</span>
      <span> Bhimavaram</span>
      <span> Bhind</span>
      <span> Bhiwadi</span>
      <span> Bhiwani</span>
      <span> Bhopal</span>
      <span> Bhubaneswar</span>
      <span> Bhuj</span>
      <span> Bhusawal</span>
      <span> Bidar</span>
      <span> Biharsharif</span>
      <span> Bijapur</span>
      <span> Bijnor</span>
      <span> Bikaner</span>
      <span> Bilaspur</span>
      <span> Bilimora</span>
      <span> Biswanath-Chariali</span>
      <span> Bodhan-Rural</span>
      <span> Bodinayakanur</span>
      <span> Boisar</span>
      <span> Bokaro</span>
      <span> Bolpur</span>
      <span> Bongaigaon</span>
      <span> Bongaon</span>
      <span> Budaun</span>
      <span> Budhwal</span>
      <span> Bulandshahr</span>
      <span> Buldana</span>
      <span> Bundi</span>
      <span> Burhanpur</span>
      <span> Buxar</span>
      <span> Central-Goa</span>
      <span> Chaibasa</span>
      <span> Chakdaha</span>
      <span> Chalisgaon</span>
      <span> Chandausi</span>
      <span> Chandigarh</span>
      <span> Chandrapur</span>
      <span> Chennai</span>
      <span> Chhapra</span>
      <span> Chhatarp</span>
      <span> Chhindwara</span>
      <span> Chidambaram</span>
      <span> Chikhli</span>
      <span> Chikkaballapur</span>
      <span> Chikmagalur</span>
      <span> Chiplu</span>
      <span> Chitradurga</span>
      <span> Chittoor</span>
      <span> Chittorgarh</span>
      <span> Churu</span>
      <span> Coimbatore</span>
      <span> Cooch-Behar</span>
      <span> Cuddalore</span>
      <span> Cuttack</span>
      <span> Dahanu</span>
      <span> Dahod</span>
      <span> Daltonganj</span>
      <span> Daman</span>
      <span> Darbhanga</span>
      <span>Darjeeling</span>
      <span> Dasuya</span>
      <span> Dausa</span>
      <span>Davanagere</span>
      <span> Dehradun</span>
      <span> Dehri</span>
      <span> Delhi</span>

      <!-- ******************* -->
      <span> Bantwal</span>
      <span> Baramati</span>
      <span> Baran</span>
      <span> Bardhaman</span>
      <span> Bardoli</span>
      <span> Bareilly</span>
      <span> Barh</span>
      <span> Baripada</span>
      <span> Barmer</span>
      <span> Barnala</span>
      <span> Barshi</span>
      <span> Basirhat</span>
      <span> Basti</span>
      <span> Batala</span>
      <span> Bathinda</span>
      <span> Beawar</span>
      <span> Beed</span>
      <span> Begusarai</span>
      <span> Bela-Pratapgarh</span>
      <span> Belgaum</span>
      <span> Berhampore</span>
      <span> Berhampur</span>
      <span> Bettiah</span>
      <span> Betul</span>
      <span> Bhadohi</span>
      <span> Bhadrachalam</span>
      <span> Bhadrak</span>
      <span> Bhadravati</span>
      <span> Bhagalpur</span>
      <span> Bhandara</span>
      <span> Bharabanki</span>
      <span> Bharatpur</span>
      <span> Bharuch</span>
      <span> Bhatkal</span>
      <span> Bhavnagar</span>
      <span> Bhawanipatna</span>
      <span> Bhilai</span>
      <span> Bhilwara</span>
      <span> Bhimavaram</span>
      <span> Bhind</span>
      <span> Bhiwadi</span>
      <span> Bhiwani</span>
      <span> Bhopal</span>
      <span> Bhubaneswar</span>
      <span> Bhuj</span>
      <span> Bhusawal</span>
      <span> Bidar</span>
      <span> Biharsharif</span>
      <span> Bijapur</span>
      <span> Bijnor</span>
      <span> Bikaner</span>
      <span> Bilaspur</span>
      <span> Bilimora</span>
      <span> Biswanath-Chariali</span>
      <span> Bodhan-Rural</span>
      <span> Bodinayakanur</span>
      <span> Boisar</span>
      <span> Bokaro</span>
      <span> Bolpur</span>
      <span> Bongaigaon</span>
      <span> Bongaon</span>
      <span> Budaun</span>
      <span> Budhwal</span>
      <span> Bulandshahr</span>
      <span> Buldana</span>
      <span> Bundi</span>
      <span> Burhanpur</span>
      <span> Buxar</span>
      <span> Central-Goa</span>
      <span> Chaibasa</span>
      <span> Chakdaha</span>
      <span> Chalisgaon</span>
      <span> Chandausi</span>
      <span> Chandigarh</span>
      <span> Chandrapur</span>
      <span> Chennai</span>
      <span> Chhapra</span>
      <span> Chhatarp</span>
      <span> Chhindwara</span>
      <span> Chidambaram</span>
      <span> Chikhli</span>
      <span> Chikkaballapur</span>
      <span> Chikmagalur</span>
      <span> Chiplu</span>
      <span> Chitradurga</span>
      <span> Chittoor</span>
      <span> Chittorgarh</span>
      <span> Churu</span>
      <span> Coimbatore</span>
      <span> Cooch-Behar</span>
      <span> Cuddalore</span>
      <span> Cuttack</span>
      <span> Dahanu</span>
      <span> Dahod</span>
      <span> Daltonganj</span>
      <span> Daman</span>
      <span> Darbhanga</span>
      <span>Darjeeling</span>
      <span> Dasuya</span>
      <span> Dausa</span>
      <span>Davanagere</span>
      <span> Dehradun</span>
      <span> Dehri</span>
      <span> Delhi</span>
    </nav>
    <hr
      class="w-[75rem] opacity-50 text-white absolute h-1 bottom-[6rem] left-[20rem]"
    />
    <img
      src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_284/Logo_f5xzza"
      class="w-[10rem] absolute bottom-[2rem] left-[20rem]"
    />
    <div
      class="grid grid-cols-4 gap-5 w-[10rem] absolute bottom-[3rem] right-[25rem]"
    >
      <img
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_48,h_48/icon-facebook_tfqsuc"
      />
      <img
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_48,h_48/icon-pinterest_kmz2wd"
      />
      <img
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_48,h_48/icon-instagram_b7nubh"
      />
      <img
        src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_48,h_48/icon-twitter_gtq8dv"
      />
    </div>
    <p
      class="absolute bottom-[2.5rem] font-sans left-[50rem] font-semibold text-white"
    >
      © 2023 Swiggy
    </p>
  </div>
</div>
